* {
  margin: 0;
  padding: 0;
}
.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: green;
}
.monkey {
  position: relative;
  width: 20px;
  height: 20px;
  transition: width 2s, height 2s;
}
.monkey:hover {
  width: 500px;
  height: 500px;
}
.cheeta {
  position: relative;
  width: 200px;
  height: 200px;
  transition-property: width 5s, height 5s;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 1s;
}
.cheeta:hover {
  width: 400px;
  height: 400px;
}
