* {
  margin: 0;
  padding: 0;
}
.main-container {
  width: 100%;
  height: 100%;
  background-color: green;
}
.monkey {
  width: 20px;
  height: 20px;
  transition: width 2s, height 2s;
}
.monkey:hover {
  width: 500px;
  height: 500px;
}
