* {
  margin: 0;
  padding: 0;
}
.main-container {
  width: 100%;
  height: 100%;
  background-color: black;
}
.monkey {
  width: 150px;
  height: 150px;
  transition: widht 2s;
}
.monkey:hover {
  width: 500px;
  height: 500px;
}
